.container-store{
    background-color: #e24647;
    width: 90%;
    padding: 55px 60px 165px 0;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    box-sizing: border-box;
    max-width: 1330px;

    overflow: hidden;
}

@media (max-width: 1470px), (max-height: 952px){ /* Checar se é And ou OR - usando a condição "ou" - ou altura ou largura*/
    .container-store{
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;
    }
}

@media (max-height: 952px){
    .container-store{
        position: static;
        transform: none;
        width: 100%;
        max-width: 100%;

    }
}
