header{
    background-color: #e24647;
}

h1, a{
    color: white;
}

h1{
    font-size: 40px;
    font-family: 'Arial MT', Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}