header{
    background-color: #e24647;
    color: white;

    overflow: hidden;
/*position: relative;*/
    
}

h1{
    font-size: 40px;
    font-family: 'Arial MT', Arial, Helvetica, sans-serif;

    float: left;
}

nav{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    float: right;
/*    position: absolute;
    top: 0;
    right: 0;
*/
}

a{
    text-decoration: none;
    color: inherit;
}

