html, body{
    height: 100%;
    min-height: 100%;
}

div{
    height: 100%;
    display: flex;
    align-items: center;
}

header{
    background-color: #e24647;
    color: white;
    margin: 0 115px;
    padding: 55px 60px 95px;

    width: 100%;
    
    overflow: hidden;
}

h1{
    font-size: 40px;
    font-family: 'Arial MT', Arial, Helvetica, sans-serif;

    float: left;
}

nav{
    font-size: 21px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    float: right;
}

a{
    text-decoration: none;
    color: inherit;
    margin-left: 60px;
}

button{
    width: 199px;
    height: 60px;
    background-color: #252c41;
    color: #FFF;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;

}
